
body{
    font-family: "montserrat";
}

#title{
    background-color:#ff4c68 ;
    color: #fff;
}

#First-heading{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}

h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar*/

.navbar{
    padding: 0 0 2.5rem;
}

.navbar-brand{
    font-family: ubuntu;
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: bold;
 }

 /******Buttons****/

 .download-btn{
     margin: 5% 3% 5% 0%;
 }

 /**********title image***************/


 .title-image{
     width:60%;
     transform: rotate(45deg);
     position: absolute;
 }

 /*********feature section***********/


 .featureh3{
     font-family: montserrat;
     font-weight: bold;
 }

 #features{
     padding: 7% 15%;
     background-color: white;
     position: relative;
    /** z-index: 1;**/
 }

 .feature-box{
     text-align: center;
     padding: 5%;
 }

 .ficon{
     color: #ef8172;
     margin-bottom: 1rem;
 }

 .ficon:hover{
     color: #ff4c68;
 }

 /**************testimonial section*********/

 #testimonials{
     text-align: center;
     background-color: #ef8172;
     color: #fff;
 }

 .testimonial-img{
     width: 10%;
     border-radius: 100%;
     margin: 20px;
 }

 .carousel-item{
     padding: 7% 15%;
 }
/**********press section************************/

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/***************Pricing Section************************/


#pricing{
    text-align: center;
    padding: 100px;

}

.pricing-coloumn{
    padding: 3% 2%;
}